<div class="container mt-3">
  <div class="row mb-3">
    <div class="col">
      <button class="btn btn-primary" (click)="iniciarSimulacion()" [disabled]="simulacionEnCurso">Iniciar Simulación</button>
      <button class="btn btn-secondary" (click)="detenerSimulacion()" [disabled]="!simulacionEnCurso">Detener Simulación</button>
      <button class="btn btn-danger" (click)="reset()">Resetear Simulación</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-gobierno [gobierno]="gobierno"></app-gobierno>
    </div>
    <div class="col-md-6">
      <app-pueblo [pueblo]="pueblo"></app-pueblo>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="alert alert-info">
        <p>Número de protestas: {{ numProtestas }}</p>
        <p>Cambios de política: {{ cambiosPolitica }}</p>
        <p>Cambios de gobierno: {{ cambiosGobierno }}</p>
      </div>
    </div>
  </div>
</div>
